:root{
    --border: 12px solid rgb(228, 253, 230);;
}
#a1{
    border-right: var(--border);
    border-bottom: var(--border);
}
#a2{
    border-bottom: var(--border);
}
#a3{
    border-left: var(--border);
    border-bottom: var(--border);
}
#b1{
    border-right: var(--border);
    border-bottom: var(--border);
}
#b2{
    border-bottom: var(--border);
}
#b3{
    border-left: var(--border);
    border-bottom: var(--border);
}
#c1{
    border-right: var(--border);
}
#c3{
    border-left: var(--border);
    /* background-color: rgba(165, 42, 42, 0.571); */
}