:root{
    --border: 10px solid #3a533f;
}
#a1{
    border-right: var(--border);
    border-bottom: var(--border);
}
#a2{
    border-bottom: var(--border);
}
#a3{
    border-left: var(--border);
    border-bottom: var(--border);
}
#b1{
    border-right: var(--border);
    border-bottom: var(--border);
}
#b2{
    border-bottom: var(--border);
}
#b3{
    border-left: var(--border);
    border-bottom: var(--border);
}
#c1{
    border-right: var(--border);
}
#c3{
    border-left: var(--border);
}