html,body{
    background-color: #262526;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
}
.bodyGame {
    display: grid;
    grid-template-columns: 500px;
    grid-auto-rows: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #2625265e
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-size: cover;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    font-style: oblique;
    color: rgb(228, 253, 230);
}
h1 {
    background-color: #2625265e;
    border-bottom: #ffffff79
}
.imgbox{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
