html{
    background-color:  rgb(71, 179, 179);
}
.bodyGame {
    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    /* background-color: rgb(71, 179, 179); */
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
p{
    display: block;
    margin-left: auto;
    margin-right: auto
}
