.bodyGame {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-auto-rows: 300px;
}

.game {
    width: 100%;
    height: 100%;
    align-content: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

.box {
    border: 2px solid #000000;
}
